.textoCadastro{
    font-size: 18px !important;
    color: #333;
}
.titleCadastro{
    font-size: 52px !important;
    color: #333;
    
}
.colorText{
    color: #333;

}
body{
    background-color:#f6f6f6;

}

.primariColor{
    background-color: #4cb5ab !important;
}

.btn{
    width: 100% !important;
    height: 45px !important;
}

.input-field{
    margin-top: 0px;
    margin-bottom: 0px;
}

#div-body{
    width: 90% !important;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.btnNavbarShow{
    margin-right:200px;
    display: 'block';
}
.btnNavbarHide{
    display: 'none';

}
.userLogin{
    display: inline-block; 
    padding: 32px 48px 0px 48px; 
    border: 1px solid #EEE; 
    margin-top: 150px;
    min-width: 40%;
    height: 350px;
    

}







/*.myfooter{
    position: fixed;;
    bottom:0;
    width:100%;
    background-color: cadetblue

}


#div-home{
    align-content: center;
    width: 100%;
    margin: 0 auto;
    margin-top: 200px
}

.div-logon{
    margin-top: 100%;

}

#div-body{
    
    margin-top: 50px;
}

#div-company span{
    font-size:15px;
}

#div-company .box{
    padding:60px 0px;
}

#div-company .box-part{
    background:#FFF;
    border-radius:0;
    padding:60px 10px;
    margin:30px 0px;
}
#div-company .text{
    margin:20px 0px;
}

#div-company .fa{
     color:#4183D7;
}


body{
    height:100%;
}*/